<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
<title>Rest</title>
</head>
<body>
    <header>
        <th:block th:replace="~{layout/fragments :: header}"></th:block>
    </header>

    <main>
        <!-- 최상위 결과 -->
        <div></div>
        <!-- 음원 -->
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">앨범/곡</th>
                        <th>가수</th>
                        <th class="text-center">듣기</th>
                        <th class="text-center">재생목록</th>
                        <th class="text-center">내 리스트</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(result)}">
                        <td colspan="6" class="text-center">검색 결과가
                            없습니다</td>
                    </tr>
                    <tr th:each="r : ${result}"
                        th:data-song-id="${r.songId}">
                        <td style="width: 118px;"><a
                            th:href="@{/album/detail(albumId=${r.albumId})}">
                                <img alt="albumcover"
                                th:src="@{../images/albumcover/${r.albumImage}}"
                                class="img-thumbnail" width="120"
                                height="120" />
                        </a></td>
                        <td style="width: 60%;"><span class="fs-5"
                            style="cursor: pointer;"
                            th:text="${r.title}"
                            th:onclick="'location.href=\'/song/detail?songId=' + ${r.songId} + '\'"
                            onmouseover="this.style.color='blue';"
                            onmouseout="this.style.color='black';"></span>
                            <br />
                        <br /> <span
                            style="color: gray; cursor: pointer;"
                            th:text="${r.albumName}"
                            th:onclick="'location.href=\'/album/detail?albumId=' + ${r.albumId} + '\'"
                            onmouseover="this.style.color='blue';"
                            onmouseout="this.style.color='gray';"></span>
                        </td>
                        <td><br /> <span
                            th:each="singer, iterStat : ${#lists.split(r.singerName, ',')}"
                            class="text-center fw-bold"
                            style="cursor: pointer;"
                            th:onclick="'location.href=\'/artist/songs?artistId=' + ${#lists.split(r.artistIds, ',')[iterStat.index]} + '\'"
                            onmouseover="this.style.color='blue';"
                            onmouseout="this.style.color='black';"
                            th:text="${singer}"></span> <span
                            th:if="${!iterStat.last}">,&nbsp;</span></td>
                        <td class="text-center">
                            <button class="btnListen btn mt-3"
                                th:data-id="${r.songId}"
                                style="background-image: url('../images/icon/play.png'); width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat;"></button>
                        </td>
                        <td class="text-center">
                            <button class="addNextPlay btn mt-3"
                                th:data-id="${r.songId}"
                                style="background-image: url('../images/icon/playList.png'); width: 60px; height: 60px; background-size: cover; background-repeat: no-repeat;"></button>
                        </td>
                        <td class="text-center">
                            <button class="addPlayList btn mt-3"
                                style="background-image: url('../images/icon/myPlayList.png'); width: 55px; height: 55px; background-size: cover; background-repeat: no-repeat;"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 앨범 -->
        <div></div>
        <!-- 아티스트 -->
        
        <div>
            <img alt="artistCover"
                th:with="profileImg=@{/images/profileimage/profile.jpg}"
                th:src="@{${artist.artistImage} != null ? '/artist/image/' + ${artist.artistImage} : ${profileImg}}"
                class="rounded-circle"
                style="display: inline-block; vertical-align: middle; left: 400px; width: 240px; height: 240px; object-fit: cover;">

        </div>

    </main>



    <footer>
        <!-- 모달 요소들을 footer로 사용. 모든 페이지에 사용되기 때문 -->
        <th:block th:replace="~{layout/fragments :: footer}"></th:block>
    </footer>



    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script
        src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>